{% extends 'base.html.twig' %}

{# parent() permet de récupérer ce que contient le bloc de la base #}
{% block title %} {{ parent() }} | Home {% endblock %}

{# sije redéfinis le contenu, j'écrase le contenu présent dans la base #}
{% block body %}
    <h1>Welcome to the {{ name }} project
        {% if app.user %}
            {{ app.user.userIdentifier | capitalize }}
        {% endif %} !</h1>

    <h2>{{ name }}'s detail</h2>

    <ul>
        {% for val in list %}
            <li>{{ val }}</li>
        {% endfor %}
    </ul>
    
    <div class="mastalogo">
        BUCKET - LIST
    </div>

{% endblock %}
